.Person{
    width:60%;
    text-align: center;
    border: 1px solid #eee ;
    box-shadow:0 2px 3px;
    padding:16px;
    margin: 16px auto
}

@media(min-width:500px){
    .Person{
        width: 450px;
    }
}